body>div {
  &#root>div>main {
    & article>div[data-id="quickly-para-method"] {
      & div.heading-item {
        margin-top: 3em;
        border-top-width: 1px;
        padding-top: 1em;
      }

      & label.form-control {
        &>input[type="text"].form-input {
          width: 200px;
          font-size: 1.3em;
        }

        &>textarea.form-input {
          width: 350px;
          height: 9em;
        }
      }
    }
  }

  &#quickly-para-method--openQuickly {
    &>div {
      &.draggable-handle>div.th h3 {
        font-size: .9em;
      }

      &.ls-ui-float-content>div {
        padding-top: 1em;
        padding-bottom: .5em;

        &>p {
          & span.tabler-icons {
            font-size: 1.5em;
          }
        }
        & h2 {
          margin-left: -0.8em;
          margin-top: 1em;
          margin-bottom: 1em;
        }

        & h3 {
          margin-left: -0.5em;
          margin-top: 1em;
          margin-bottom: 1em;
        }

        &>ul {
          &:not(#para-menu-combination)>li.para-away>label+span>button {
            font-size: 1.5em;
          }

          &#para-menu-combination>li.para-away>label+span>button {
            font-size: 1.35em;
          }

          &>li.para-away {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 1em;
            margin-top: .8em;

            &>label {

              &>span>span.tabler-icons {
                font-size: 1.5em;
              }
              &+span {
                margin-left: .5em;
                display: flex;
                flex-wrap: nowrap;

                & button {

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }

              &>span:not(.not-cursor-pointer) {
                cursor: pointer;
              }

              &>span {

                & select#pickListSelect {
                  border-radius: 4px;
                  border: 1px solid var(--ls-secondary-text-color);
                  background: var(--ls-secondary-background-color);
                  color: var(--ls-primary-text-color);
                  margin-top: .3em;
                }

                &:first-child {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: wrap;
                  word-break: break-all;
                }

                &>input[type=checkbox] {
                  display: none;

                  /* ツールチップ */
                  &+div {
                    overflow: auto;
                    width: 350px;
                    min-height: 200px;
                    max-height: 620px;
                    color: var(--ls-primary-text-color);
                    background-color: var(--ls-primary-background-color);
                    padding: 1.8em;
                    position: absolute;
                    z-index: 1;
                    border-radius: 0.2em;
                    outline: 6px solid var(--ls-guideline-color);
                    outline-offset: 3px;
                    cursor: zoom-out;
                    font-size: .96em;

                    &:not(#paraTooltipNamespace, #paraTooltipA) {
                      transform: translate(-3%, -50%);
                    }

                    &#paraTooltipNamespace {
                      transform: translate(-3%, -25%);
                    }

                    &#paraTooltipA {
                      transform: translate(-3%, -57%);
                    }

                    &#paraTooltipInbox {
                      transform: translate(-3%, -20%);
                    }

                    & h2 {
                      font-size: 1.15em;
                      margin-left: -.8em;
                      margin-bottom: .8em;
                    }

                    &>div {
                      margin-top: 1em;
                      margin-bottom: 1em;

                      & a {
                        text-decoration: none;

                        &:hover {
                          text-decoration: underline;
                        }
                      }

                      & ul {
                        list-style: decimal;

                        &>li {
                          margin-bottom: .6em;
                        }
                      }
                    }
                  }

                  &:not(:checked)+div {
                    display: none;
                  }

                  &:checked+div {
                    transition: .2s;
                    display: block;
                  }
                }
              }
            }
          }

        }


        &>input {
          background-color: var(--ls-primary-background-color);
          color: var(--ls-primary-text-color);
          box-shadow: 1px 2px 5px var(--ls-secondary-background-color);
        }

        & button {
          border: 1px solid var(--ls-secondary-background-color);
          box-shadow: 1px 2px 5px var(--ls-secondary-background-color);
          text-decoration: unset;

          &:hover {
            background-color: var(--ls-secondary-background-color);
            color: var(--ls-secondary-text-color);
            text-decoration: underline;
          }
        }

        &>h2 {
          font-size: 1.15em;
          margin-left: -.8em;
          margin-bottom: .5em;
        }

        &>h3 {
          font-size: 1.04em;
          margin-left: -.6em;
        }
      }
    }
  }
}